body {
}

.first{
	position: relative;
	 -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
	  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.background_image img{ 
	width: 100%;
	height: 955px;
	margin: 0px;
	position: relative;
}

.title h1 {
	position: absolute;
	height: 70px;
	width: 600px;
	top: 30px;
	right: 110px;
	padding-top: 70px;
	text-align: center;
	font-size: 90px;
	color: white;
}

.box1, .box2, .box3{
	position: absolute;
	bottom: 330px;
	height: 300px;
	width: 25%;
	background-color: rgba(255, 255, 255, 0.55);
	text-align: center;
}

.box1{
	left: 5%;
}

.box2{
	left: 37.5%;
}

.box3{
	right: 5%;
}

.box1 h2, .box2 h2, .box3 h2{
	position: absolute;
	top: 95px;
	left: 125px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 33px;
}

.about{
	width: 100%;
	height: 750px;
	position: relative;
}

.about_title{
	position: absolute;
	top: 40px;
	right: 20%;
	font-size: 35px;
}

.about_image{
	height: 300px;
	width: 400px;
	position: absolute;
	top: 25%;
	left: 15%;
	border-radius: 100%;
}

.about_summary{
	height: 300px; 
	width: 400px;
	position: absolute;
	top: 30%;
	right: 15%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
}

.color{
	color: #4B8F8C;
}

.projects{
	position: relative;
	background-color: #e6f0fb;
	width: 100%;
	height: 1150px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.projects_title{
	position: absolute;
	top: 50px;
	left: 43%;
	font-size: 35px;	
}

.box4, .box5, .box6{
	height: 800px;
	width: 25%;
	position: absolute;
	top: 250px;
}

.box4{
	position: absolute;
	left: 5%;
	background-color: #2C365E;
}

.box5{
	position: absolute;
	right: 37%;
	background-color: #4B8F8C;
}

.box6{
	position: absolute;
	right: 5%;
	background-color: #2C365E;
}

.title4, .title5, .title6{
	margin: 0 auto;
	height: 200px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.55);
	text-align: center;
}

.title4 h2, .title5 h2, .title6 h2{
	position: absolute;
	top: 0%;
	margin: 0 auto;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 33px;
	line-height: 200px;	
}

.title4 h2, .title5 h2 {
	left: 28%;
}

.title6 h2{
	left: 35%;
}

.description4, .description5, .description6{
	position: absolute;
	top: 30%;
	height: 200px;
	width: 100%;
	margin: 20;
	font-size: 20px;
	color: white;
	text-align: center;
}

.box5 img{
	position: absolute;
	bottom: 0%;
	height: 300px;
	width: 100%;
	
}

.box6 img{
	position: absolute;
	bottom: 0%;
	height: 300px;
	width: 100%;
}

.experience{
	width: 100%;
	height: 1000px;
	position: relative;
}

.experience_title{
	position: absolute;
	top: 5%;
	left: 20%;
	font-size: 35px;
}

/** {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}

body {
   margin: 0;
   padding: 30px 0;
   font-family: 'Roboto', sans-serif;
   background: #F1F2F6;
}

h1 {
   text-align: center;
   font-weight: 300;
   color: #777
}

h1 span {
   font-weight: 600;
}*/

.container {
	height: 600px;
	width: 45%;
	padding: 50px 0;
	margin: 50px auto;
	overflow: hidden;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
}

.container:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 1.5px;
	height: 100%;
	background: gray;
	z-index: 1;
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #212b87;
   background: #212b87;
   margin-top: 10px;
   z-index: 9999
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #4B8F8C;
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
   color: black;
}

.timeline-content p {
   font-size: 15px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: black;
}


@media screen and (max-width: 768px) {
   .container:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }

   .timeline-block-left {
      float: none;
      direction: ltr;
   }
}


.contact{
	width: 100%;
	height: 600px;
	background-color: #e6f0fb;
	position: relative;
	font-family: 'Open Sans Condensed', sans-serif;
}

.contact_title{
	position: absolute;
	top: 5%;
	left: 38%;
	font-size: 35px;
}

.container{
	position: absolute;
	top: 50px;
	left: 500px;
}

/* ===========================
   ====== Contact Form ======= 
   =========================== */

input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;		
}

textarea {
	width: 400px;
	height: 150px;
	max-width: 400px;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;	
}

.form label {
	margin-left: 10px;
	color: #999999;
}

/* ===========================
   ====== Submit Button ====== 
   =========================== */

.submit input {
	width: 100px; 
	height: 40px;
	background-color: #474E69; 
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	font-family: 'Open Sans Condensed', sans-serif;	
	cursor: pointer;
}
.submit:hover {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #e6f0fb;

}

.social_media{
	background-color: #e6f0fb;
	padding: 20px;
	font-size: 30px;
	width: 100%;
	height: 110px;
	text-align: center;
	text-decoration: none;
}

.social_media img{
	position: relative;
	left: -2%;
	height: 90px;
	width: 90px;
}
