body {
}

.first{
	position: relative;
	 -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
	  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.background_image img{ 
	width: 100%;
	height: 955px;
	margin: 0px;
	position: relative;
}

.title h1 {
	position: absolute;
	height: 70px;
	width: 600px;
	top: 30px;
	right: 110px;
	padding-top: 70px;
	text-align: center;
	font-size: 90px;
	color: white;
}

.box1, .box2, .box3{
	position: absolute;
	bottom: 330px;
	height: 300px;
	width: 25%;
	background-color: rgba(255, 255, 255, 0.55);
	text-align: center;
}

.box1{
	left: 40px;
}

.box2{
	left: 540px;
}

.box3{
	right: 40px;
}

.box1 h2, .box2 h2, .box3 h2{
	position: absolute;
	top: 95px;
	left: 125px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 33px;
}

.about{
	width: 100%;
	height:800px;
	position: relative;
	 -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
	  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.about_title{
	position: absolute;
	top: 50px;
	left: 590px;
	font-size: 35px;
}

.about_image{
	height: 300px;
	width: 400px;
	position: absolute;
	top: 250px;
	left: 200px;
	border-radius: 100%;
}

.about_summary{
	height: 300px; 
	width: 400px;
	position: absolute;
	top: 250px;
	right: 200px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
}

.projects{
	position: relative;
	background-color: #e6f0fb;
	width: 100%;
	height: 1500px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.projects_title{
	position: absolute;
	top: 50px;
	left: 590px;
	font-size: 35px;	
}

.boxes{
	position: absolute;
	top: 200px;
}

.box4, .box5, .box6{
	margin: 0 auto;
	height: 200px;
	width: 25%;
	background-color: rgba(255, 255, 255, 0.55);
	text-align: center;
	margin-top: 40px;
}

.box4 h2, .box5 h2, .box6 h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 33px;
	margin: 0;
	line-height: 200px;
}

.description1, .description3{
	position: absolute;
	left: 50px;
	height: 150px;
	width: 25%;
	margin: 20;
	font-size: 20px;
	align-content: left;
}

.node_picture img{
	height: 300px;
	width: 25%;
	align-content: right;
}

.cell_picture img{
	height: 300px;
	width: 25%;
	align-content: right;
}

.experience{
	width: 100%;
	height: 1500px;
	position: relative;
	background: 
}

.experience_title{
	position: absolute;
	top: 50px;
	left: 540px;
	font-size: 35px;
}

.contact{
	width: 100%;
	height: 650px;
	background-color: #e6f0fb;
	position: relative;
	font-family: 'Open Sans Condensed', sans-serif;
}

.contact_title{
	position: absolute;
	top: 50px;
	left: 540px;
	font-size: 35px;
}

.container{
	position: absolute;
	top: 200px;
	left: 500px;
}

/* ===========================
   ====== Contact Form ======= 
   =========================== */

input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;		
}

textarea {
	width: 400px;
	height: 150px;
	max-width: 400px;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;	
}

.form label {
	margin-left: 10px;
	color: #999999;
}

/* ===========================
   ====== Submit Button ====== 
   =========================== */

.submit input {
	width: 100px; 
	height: 40px;
	background-color: #474E69; 
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	font-family: 'Open Sans Condensed', sans-serif;	
	cursor: pointer;
}
.submit:hover {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #e6f0fb;

}

.social_media{
	background-color: #e6f0fb;
	position: relative;
	padding: 20px;
	font-size: 30px;
	width: 100%;
	height: 150px;
	text-align: center;
	text-decoration: none;
}

.social_media img{
	height: 100px;
	width: 100px;
}
